* {
    margin: 0;
    padding: 0;
}
body{
    background-color: gainsboro;
}
.wrapper{
    margin: auto;
    width: 800px;
}
.header{
    background-color: #445161;
    color: white;
}
.header, .product {
    justify-content: space-between;
}
.header-title{
    display: flex;
    font-size: xx-large;
    width: 100%;
    padding-left: 20px;
}
.header-product{
    display: flex;
    font-size: x-large;
    width: 100%;
    padding-left: 20px;
    color: gray;
}
section{
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    display: flex;
}
/*section span, section h1{
    font-size: xx-large;
    display: flex;
    width: 100%;
    padding-left: 20px;
}*/
section>div{
    display: inline-block;
    border: 1px solid greenyellow;
}
.half{
    width: 49%;
}
.left{
    float: left;
}
.right{
    float: right;
}
/*.product{
    width: 60%;
}*/
.product p{
    text-align: left;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
section > img, section > video{
    background-color: white;
    border: 1px solid black;
    height: 150px;
    width: 35%;
}
.section p{
    text-align: left;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*.grey, section > video, figure>img{
    background-color: #445161;
    color: white;
}*/
summary{
    outline: none;
    font-weight: bold;
    position: relative;
}
summary::-webkit-details-marker{
    display: none;
}
summary:before{
    content: "+";
    font-size: 30px;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    background-color: royalblue;
    position: absolute;
    top: -5px;
    left: -5px;
}
details[open] summary:before{
    content: "-";
}
details{
    margin: 10px;
    border: 1px solid black;
    max-height: 90px;
    overflow: hidden;
}
ul {
    list-style-image: url(../img/mark.png);
    text-align: left;
    padding-left: 40px;
    padding-top: 20px;
}
figure{
    display: inline-flex;
    text-align: left;
    margin: 10px;
}
figure> img{
    height: 100px;
    width: 130px;
    border: 1px solid coral;
}
figcaption{
    height: 50px;
    width: 50%;
}
figcaption> span{
    font-size: large;
}
figcaption> p{
    padding-left: 10px;
}
.review{
    position: relative;
    text-align: left;
}
.review span{
    font-size: medium;
    color: slategray;
    padding-left: 45px;
}
.review p{
    margin: 0;
    padding: 5px;
    padding-left: 45px;
    min-height: 30px;
}
.review .ava{
    position: absolute;
    top: 5px;
    left: 10px;
    height: 30px;
    width: 30px;
    background-color: slategray;
    border-radius: 50%;
}
.review > div{
    display: inline-block;
    width: 80%;
}
footer{
    text-align: center;
}